$input-height: 40px;
$border-color: #cac6c6;
$border-radius: 4px;
$animation-duration: .5s;
$medium-screen: 768px;
$large-screen: 1024px;


@mixin medium-screen {
    @media screen and (min-width: $medium-screen) {
        @content;
    }
}

@mixin large-screen {
    @media screen and (min-width: $large-screen) {
        @content;
    }
}
